*{
	box-sizing: border-box;
}

.row{
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 175%;
}

p {
	font-family: Times New Roman;
	font-size: 175%;
	text-align: center;
	margin: 0;
	width: 200px;
	color: black;
	position: absolute;
	top: 1px;
	left:200px;
	border: 1px solid black;
}

.p1 {
	background-color: blue;
}

.p2	{
	background-color: red;
}

.p3 {
	background-color: #deab04;
}

.d1, .d2, .d3 {
	font-family: sans-serif;
	color: #ffffff;
	width: 31.333%;
	margin: 1%;
	height: 200px;
	padding: 80px 5px 5px 5px;
	position: relative;
	border: 1px solid yellow;
	background-color: grey;
	float: left;
}

@media (max-width: 767px){
	.d1, .d2, .d3 {
		width: 98%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.d1, .d2 {
		width: 48%;
	}

	.d3 {
		width: 98%;
	}
p{
top: 1px;
	left:200px;
}
}